@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --background: theme("colors.cosmos.background");
 --foreground: theme("colors.cosmos.text.light");
}

@media (prefers-color-scheme: dark) {
 :root {
  --background: theme("colors.cosmos.background");
  --foreground: theme("colors.cosmos.text.light");
 }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-kode-mono), Arial, Helvetica, sans-serif;
}


#__next {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}

@keyframes pulse {
 0% {
  opacity: 0.5;
 }
 100% {
  opacity: 0.8;
 }
}

@layer utilities {
 .text-balance {
  text-wrap: balance;
 }

 .border-gradient-to-r {
  border-image: linear-gradient(
    to right,
    var(--cosmos-primary),
    var(--cosmos-secondary),
    var(--cosmos-accent)
   )
   1;
 }

 @keyframes border-move-tl {
  0% {
   transform: translate(0, 0);
  }
  25% {
   transform: translate(5px, 0);
  }
  50% {
   transform: translate(5px, 5px);
  }
  75% {
   transform: translate(0, 5px);
  }
  100% {
   transform: translate(0, 0);
  }
 }

 @keyframes border-move-br {
  0% {
   transform: translate(0, 0);
  }
  25% {
   transform: translate(-5px, 0);
  }
  50% {
   transform: translate(-5px, -5px);
  }
  75% {
   transform: translate(0, -5px);
  }
  100% {
   transform: translate(0, 0);
  }
 }

 .animate-border-tl {
  animation: border-move-tl 10s infinite linear;
 }

 .animate-border-br {
  animation: border-move-br 10s infinite linear;
 }
}
