@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.background');
  --foreground: theme('colors.text.DEFAULT');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme('colors.background.dark');
    --foreground: theme('colors.text.dark');
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-kode-mono), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
